<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="table">
  <xacro:include filename="$(find avena_bringup)/worlds/avena_table.xacro" />
  <xacro:table x_min="$(arg x_min)"
               x_max="$(arg x_max)"
               y_min="$(arg y_min)"
               y_max="$(arg y_max)"/>
</robot>
