<library path="avena_view">
  <class name="avena_view/AvenaView" type="avena_view::AvenaView" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      Avena View
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <label>Avena View</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin for viewing sensor_msgs/Image topics.</statustip>
    </qtgui>
  </class>
</library>
